.nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    flex-direction: row-reverse;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100px;
}

.animal{
    display: flex;
    flex-basis: 25%;
}

.animal header{

}